<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://pioniergarage.de/"><img [src]="img_Logo_PG"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <!-- MD && LG -->
      <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
           <li><a href="https://pioniergarage.de/ueber-uns/">Über Uns</a></li>
           <li><a href="https://pioniergarage.de/launchpad/">Launchpad</a></li>
           <li><a href="https://pioniergarage.de/veranstaltungen/">Veranstaltungen</a></li>
           <li><a >Jobwall</a></li>
           <li><a href="https://pioniergarage.de/kontakt/">Kontakt</a></li>
           <li><a href="https://pioniergarage.de/blog/">Blog</a></li>
           <li><a href="https://shop.spreadshirt.de/pioniergarage/">Shop</a></li>
      </ul>


      <!-- SM -->
      <ul class="nav navbar-nav navbar-right visible-sm">
        <li><a href="https://pioniergarage.de/ueber-uns/">ÜBER UNS</a></li>
        <li><a href="https://pioniergarage.de/launchpad/">LAUNCHPAD</a></li>
        <li><a href="https://pioniergarage.de/veranstaltungen/">VERANSTALTUNGEN</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-sm">
        <li><a href="https://pioniergarage.de/kontakt/">KONTAKT</a></li>
        <li><a href="https://pioniergarage.de/blog/">BLOG</a></li>
        <li><a href="https://shop.spreadshirt.de/pioniergarage/">SHOP</a></li>
      </ul>


      <!-- XS -->
      <ul class="nav navbar-nav navbar-right visible-xs" style="background-color: #333333">
          <li><a href="https://pioniergarage.de/ueber-uns/">ÜBER UNS</a></li>
          <li><a href="https://pioniergarage.de/launchpad/">LAUNCHPAD</a></li>
          <li><a href="https://pioniergarage.de/veranstaltungen/">VERANSTALTUNGEN</a></li>
          <li><a href="https://pioniergarage.de/kontakt/">KONTAKT</a></li>
          <li><a href="https://pioniergarage.de/blog/">BLOG</a></li>
          <li><a href="https://shop.spreadshirt.de/pioniergarage/">SHOP</a></li>
      </ul>



    </div><!--/.nav-collapse -->
  </div>
</nav>
