

<div class="row" style="font-family: 'Verdana', sans-serif; color: #333333; margin-top:140px; margin-bottom:40px; ">
  <div class="col-sm-6">
    <button *ngIf="(isloggedIn()==true) &&  (showJobOverview==true)" class="btn btn-default" (click)="onShowCreateNewJob()">
      create new Job
    </button>
  </div>
  <div class="col-sm-6" style="text-align:right">
    <button *ngIf="isloggedIn()" class="btn btn" (click)="logout()">
      Logout
    </button>
  </div>
</div>

<div style="font-family: 'Verdana', sans-serif; color: #333333; margin-bottom:2rem;">


  <!-- Not logged In -->

  <app-login *ngIf="!isloggedIn()"></app-login>


  <!-- Logged In and show Overview -->
  <div *ngIf="(isloggedIn()==true) &&  (showJobOverview==true)">
    <app-job-overview (onShowJobDetails)="onShowJobDetails($event)"></app-job-overview>
  </div>



  <!-- Logged In and show Create New Job -->



  <app-job-detail *ngIf="(isloggedIn()==true)  && (showCreateNewJob==true)"
  [job]="emptyJob"
  (onShowJobOverview)="onShowJobOverview($event)" ></app-job-detail>

  <!-- Logged In and show Job Details -->

  <app-job-detail *ngIf="(isloggedIn()==true)  && (showUpdateJob==true)"
  [job]="job"
  (onShowJobOverview)="onShowJobOverview($event)" ></app-job-detail>




</div>
