


    <div class="row" style="font-size:0.9rem;">
        <div class="col-md-2 col-sm-12"> </div>
        <div class="col-md-2 col-sm-6"> </div>
        <div class="col-md-2 col-sm-6"> Kurzbeschreibung </div>
        <div class="col-md-1 col-sm-3"> Job Typ </div>
        <div class="col-md-1 col-sm-3"> Veröffent -lichungs -datum </div>
        <div class="col-md-1 col-sm-2"> Anzahl Tage Aktiv </div>
        <div class="col-md-1 col-sm-2"> Aktiv </div>
        <div class="col-md-1 col-sm-2"> Eingestellt </div>
        <div class="col-md-1 col-sm-12"> </div>
    </div>

    <div class="row" *ngFor="let job of jobs; let idx = index">

      <hr />

        <!--<app-job-overview-element  [job]="job"></app-job-overview-element>-->

        <div class="col-md-2 col-sm-12">
          <div>
            <a href ="{{ job.linkToJobPage }}">{{ job.id }}: {{ job.title }} </a>
          </div>
          <p></p>
          <p>{{ job.locationCityName }}</p>
        </div>


        <div class="col-md-2 col-sm-6">
            <img src="{{ job.companyLogoUrl }}" alt="{{ job.companyName }}_Logo" style="width:120px">
            <div class="caption">
              <h4>{{ job.companyName }}</h4>
              <p *ngIf="job.isStartup==1">Startup</p>
              <p *ngIf="job.isStartup==0" >kein Startup</p>
            </div>
        </div>

        <div class="col-md-2 col-sm-6" style="font-size:1rem; margin-bottom:2rem;">{{ job.shortDescription }}</div>

        <div class="col-md-1 col-sm-3" style="font-size:1rem; font-weight:500;">{{ job.jobType }}</div>

        <div class="col-md-1 col-sm-3" style="font-size:0.85rem; margin-bottom:2rem;">
          <i>Eingestellt am:</i><br>
          {{ job.publishDate }}
        </div>

        <div class="col-md-1 col-sm-2"> {{ job.daysActive }} </div>

        <div class="col-md-1 col-sm-2 jobActiveCell" (click)="toggleActive(job,idx)" style="padding:20px;">
          <span *ngIf="job.is_active==1" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span *ngIf="job.is_active==0" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>


        <div class="col-md-1 col-sm-2" style="font-size:0.85rem;">
          <i>Erstellt am:</i><br>
          {{ job.created }}
          <br><br>
          <div *ngIf="job.updated!='0000-00-00 00:00:00'"><i>Updated am:</i><br>{{ job.updated }}</div>
        </div>

        <div class="col-md-1 col-sm-12">
          <button type="button" class="btn btn-default" style="margin-bottom:2rem;">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"
            (click)="removeJob(job)"></span>
          </button>

          <button type="button" class="btn btn-default" style="margin-bottom:2rem;">
            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"
            (click)="showJobDetails(job)"></span>
          </button>
        </div>

    </div>
